<%- model_class = Album -%>
<div class="page-header">

</div>

<dl class="dl-horizontal">


  <dd><img src = <%= @photo.avatar %> /></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @user.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:adress) %>:</strong></dt>
  <dd><%= @user.adress %></dd>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_user_album_path(@user), :class => 'btn btn-primary' %>
  <ol class="albums">
    <%= render @albums %>
  </ol>
</dl>
